**/node_modules
**/.next
**/dist
**/coverage
**/.env
**/.env.*
.git
infra
!infra/
infra/*
!infra/managed-runtime/
!infra/managed-runtime/**
!infra/modules/
infra/modules/*
!infra/modules/tenant-runtime/
!infra/modules/tenant-runtime/**
!infra/modules/network/
!infra/modules/network/**
!infra/modules/ecs-execution-role/
!infra/modules/ecs-execution-role/**
**/.terraform
docs
.github
